[submodule "bundle/neocomplete.vim"]
	path = bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "/home/mathis/.vim/pack/plugins/start/vim-go"]
	path = /home/mathis/.vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/mengelbart/start/awesome-vim-colorschemes"]
	path = pack/mengelbart/start/awesome-vim-colorschemes
	url = git@github.com:rafi/awesome-vim-colorschemes.git
[submodule "pack/mengelbart/start/vim-fugitive"]
	path = pack/mengelbart/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/mengelbart/start/vim-colorschemes"]
	path = pack/mengelbart/start/vim-colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "pack/mengelbart/start/a.vim"]
	path = pack/mengelbart/start/a.vim
	url = git@github.com:vim-scripts/a.vim.git
[submodule "pack/mengelbart/start/ctrlp.vim"]
	path = pack/mengelbart/start/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "pack/mengelbart/start/delimitMate"]
	path = pack/mengelbart/start/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "pack/mengelbart/start/vim-airline"]
	path = pack/mengelbart/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "pack/mengelbart/start/vim-vinegar"]
	path = pack/mengelbart/start/vim-vinegar
	url = git@github.com:tpope/vim-vinegar.git
[submodule "pack/mengelbart/start/vim-go"]
	path = pack/mengelbart/start/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "pack/mengelbart/start/ultisnips"]
	path = pack/mengelbart/start/ultisnips
	url = git@github.com:SirVer/ultisnips.git
